{
  "comments": false,
  "env": {
    "main": {
      "presets": [["env"]]
    },
    "renderer": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    },
    "web": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
