# IDE
.idea
.vscode

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
.DS_Store

# Dependency directories
node_modules

# Build
dist
dist-ssr
*.local

tmp
**/.tmp
release
